# Environnements virtuels
venv/
.env/
.env

# Fichiers temporaires et cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks checkpoints
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Données brutes volumineuses
data/raw/
*.csv
*.xlsx

# Données transformées volumineuses
data/transformed/
*.csv

# Données chargées volumineuses
data/loaded/
*.csv

# Config personnelle VS Code
.vscode/v